@model IEnumerable<Company>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Companies</h1>
        <a asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i> New Company
        </a>
    </div>
    <div class="row">
        @foreach(var item in Model){
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    @item.Name
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@item.Description</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-trash text-gray-300"></i>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }        
    </div>
</div>