@model PlanningPersonal.Models.Rotation
@{
    string employeeName = ViewBag.EmployeeName;
    string employeeLastName = ViewBag.EmployeeLastName;
    string employeeNumber = ViewBag.EmployeeNumber;
    string id = ViewBag.EmployeeId;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <input id="livesearch" name="livesearch" placeholder="Search" autocomplete="off" class="form-control" />
            <div id="result" class="tag-results"></div>
        </div>
    </div>
    <hr />
    @if(Model != null){
        <form method="post" asp-action="Create">
            <div class="container" style="margin-top:5px">
                <div class="row">
                    <div class="col-6">
                        <h1> @employeeName @employeeLastName @employeeNumber</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="DateFrom">Fecha Desde</label>
                        <input asp-for="DateFrom" class="form-control" />
                    </div>
                    <div class="col-3">
                        <label asp-for="DateTo">Fecha Hasta</label>
                        <input asp-for="DateTo" class="form-control" />
                    </div>
                    <div class="col-3">
                        <h4>Location</h4>
                    </div>
                </div>
            </div>
        </form>
        
    }    
   
</div>
<div>
    
</div>


@section Scripts{
    <script>
        let timeout = null;
        document.getElementById('livesearch').addEventListener('keyup', function (e) {
            // Clear existing timeout
            clearTimeout(timeout);

            // Reset the timeout to start again
            timeout = setTimeout(function () {
                LiveSearch()
            }, 300);
        });

        function LiveSearch() {
            //Get the input value
            let value = document.getElementById('livesearch').value

            $.ajax({
                type: "POST",
                // You can use the absolute url eg www.site.com/MyControllerName/LiveTagSearch or the relative path live below
                url: "/Rotation/getEmployees",
                // Attach the value to a parameter called search
                data: { search: value },
                datatype: "html",
                success: function (data) {
                    // Insert the returned search results html into the result element
                    $('#result').html(data);
                }
            });
        }

    </script>
}
